html, body {
  max-width: 1400px;
  height: auto;
  display: flex;
  background-color: #323232;
}
body{
  color: white;
  line-height: 30px;
  }

  header {
    text-align: center;
  }

  .frame {
    margin: 40px 120px 40px 120px;
    padding: 20px;
    border: 5px grey solid;
  }
  .frame_content {
    margin: 40px 30px 40px 30px;
}
  hr {
      border: 0;
      border-top: 1px solid grey;
     }

h1{
  font-size: 35px;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 1.5px;
}

nav  {
  font-family: sans-serif;
  font-size: 17px;
  padding: 20px 0;
}
nav .resume {
  color: white;
  text-decoration: none;
}
main {
  font-family: sans-serif;
  max-width: 100%;
  display: table;
  padding-bottom: 20px;
  color: #F1EBDA;
}

h2, h3{
  font-weight: bolder;
  font-size: 30px;
  color: white;
}
h3{
  font-size: 20px;
}

.content {
  font-weight: bold;
  max-width: 100%;
  font-size: 20px;
}

li {
  display: inline-block;
  color: white;
  font-size: 20px;
}
strong {
  color: white;
}
text {
  margin-left: 5px;
}

.organization {
  color: #E3E3E3;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

footer {
  font-family: sans-serif;
  padding-top: 10px;
  text-align: center;
}

a {
  color: #6BDA9E;
  font-weight: bolder;
  font-size: 18px;
  padding-right: 4px;
}

a:not(:last-child) {
  border-right: 2px grey solid;
}

hr {
  padding-top: 20px;
}
