html {
  background-color: rgb(83, 83, 83);
}
h1 {
  text-align: center;
  font-style: italic;
}
h1, h2 {
  color: white;
}
h3 {
  color: rgb(210, 210, 210);
  text-transform: uppercase;
  font-size: 1em;
}
p, ul {
  color: rgb(210, 210, 210);
  line-height: 1.5em;
}
li{
  list-style-type: square;
}
h2, h3, nav, footer {
  font-family:sans-serif;
}
nav, footer {
  text-align: center;
}
nav {
  border-bottom: solid 1px grey;
  padding: 0px 0px 30px 0px;
}
a {
  color: rgb(27, 246, 207);
}
a:hover {
  color: white;
  text-decoration: none;
}
div.page {
  margin-left:auto;
  margin-right:auto;
  margin: 20px;
  border: 4px solid grey;
  padding: 40px;
}
img {
  padding: 3px;
  border: 1px solid grey;
  float: right;
  margin: 0px 0px 20px 20px;
}
.clearfix {
  overflow: auto;
}
footer {
  border-top: solid 1px grey;
  padding: 30px 0px 0px 0px;
}
