body {
  background-color: #444444;
  color: #fff;
  font-family: Georgia, serif;
  border: 5px solid #777777;
  margin: 30px auto;
  width: 40em;
  padding: 40px;
}

h1 {
  text-align: center;
  font-family: Georgia, serif;
  font-weight: normal;
  font-style: italic;
}

h2, nav, footer, h3 {
  font-family: Arial, sans-serif;
}

nav, footer {
  text-align: center;
  color: #ccc;
}

a {
  font-weight: bold;
  color: #66CD9B;
}

.active {
  text-decoration: none;
  color: #fff;
}

section {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
  line-height: 150%;
  padding-top: 20px;
  padding-bottom: 20px;
}

img {
  align=right;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.body {
  padding-right: 50px;
}

.experience {
  padding: 10px 0;
}

section h3 {
  color: #bbb;
  font-size: 1em;
  letter-spacing: .2em;
}

li {
  font-family: Arial, sans-serif;
  color: #fff;
  list-style: square;
}

.details {
  font-family: Georgia, serif;
  color: #bbb;
}

.job {
  font-weight: bold;
}

.years {
  font-size: .9em;
  color: #bbb;
}
