*{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  text-decoration: inherit;
  line-height: inherit;
  color: inherit;
  background: rgb(68,68,68)
}
h1{
  font-family: Georgia, sans-serif;
  font-size:36px;
  line-height:50px;
  color: white;
  text-shadow: 1px 1p 0px  #fff;
  text-align: center;
}
body{
  color: white;
  border:5px solid rgb(68,68,68);
  width:800px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height:normal;
  text-align: left;
  line-height: 30px;
  margin:20px auto;
  padding: 20px 20px 20px 20px;
}
img{
  border:3px solid white;
  padding: 5px;
  margin-left:1cm;
  float: right
}
h2{
  padding-top: 30px;
  font-size: 25px;
  font-weight: bold;
}
nav {
   line-height: 30px;
   text-align: center;
   display: block;
}
header {
  padding-bottom: 30px;
  border-bottom: 2px solid white;
}
a {
  color: green;
}
.active {
  color: white;
  padding-right: 5px;
  border-right: 2px solid white;
}
footer {
  text-align: center;
}
footer a{
  padding-right: 10px;
  text-decoration: underline;
}
p {
  padding-top: 20px;
}
