* {
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color: rgb(97, 89, 94);
  color: white;
}

header {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font
}

.active {
  display: inline-block;
  font-style: bold;
}
h1 {
  font-style: italic;
}

a {
  text-decoration: none;
  display: inline-block;
  color: rgb(30, 232, 111);
}

a:active {
  color: white;
}

li {
  display: inline-block;
  margin: 0 auto;
  padding: 2px;
}

h2 {
  text-align: left;
  padding: 20px;
}

p {
  padding: 5px;
}

hr {
  width: 90%;
  margin: 0 auto;
  color: white;
}


.wendy {
  float: right;
  border: 5px solid grey;
  height: 20%;
  width: 20%;
  margin: 20px 20px 50px 20px;

}

.frame {
  width: 80%;
  height: 80%;
  border: 5px solid grey;
  background-color: rgb(97, 89, 94);
  padding: 20px;
  margin: 0 auto;
}

footer {
  display: inline-block;
  padding: 10px;
  margin-left: 30%;
}

.resume_item {
  list-style-type: square;
  padding: 0;
  display: list-item;
}
