*{
  background-color:#CCBFD6;
}

h1 {
  display: block;
	font-family: Arial, sans-serif;
	font-weight: bolder;
	color: #241133;
}

header {
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  color: #241133;
}

img {
  float: left;
  margin-left: 30px;
}

a.active {
  color: #FFFFFF;
}

a {
    color: #6D6B6E;
    font-weight: bold;
}
nav a, footer a {
    font-size: 1rem;
    display: inline-block;
}

p {
}

article {
	max-width: 55%;
	background-color: #CCBFD6;
	border-radius: 10px;
	padding: 10px;
	margin-bottom: 10px;
  margin-left: 350px;
  margin-top: 60px;
}
